@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4">¡Bienvenido al Proyecto!</h1>
            <p class="lead">
                Te encuentras en el portal principal de nuestro proyecto. Esperamos que disfrutes tu experiencia.
            </p>
            <hr class="my-4">
            <p>
                Explora las diferentes funcionalidades que ofrecemos. ¿Listo para empezar?
            </p>
            <p>
                <a asp-controller="Proveedores" asp-action="Index" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">Ir a Proveedores</a>
            </p>
        </div>
    </div>
</div>
